@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}
@font-face {
  src: url("/public/fonds/Urbanist-Black.ttf");
  font-family: "Urbanist";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}
@font-face {
  src: url("/public/fonds/Urbanist-BlackItalic.ttf");
  font-family: "Urbanist";
  font-style: italic;
  font-display: swap;
  font-weight: 900;
}
@font-face {
  src: url("/public/fonds/Urbanist-Bold.ttf");
  font-family: "Urbanist";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  src: url("/public/fonds/Urbanist-BoldItalic.ttf");
  font-family: "Urbanist";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  src: url("/public/fonds/Urbanist-ExtraBold.ttf");
  font-family: "Urbanist";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
}
@font-face {
  src: url("/public/fonds/Urbanist-ExtraBoldItalic.ttf");
  font-family: "Urbanist";
  font-style: italic;
  font-display: swap;
  font-weight: 800;
}
@font-face {
  src: url("/public/fonds/Urbanist-ExtraLight.ttf");
  font-family: "Urbanist";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
}
@font-face {
  src: url("/public/fonds/Urbanist-ExtraLightItalic.ttf");
  font-family: "Urbanist";
  font-style: italic;
  font-display: swap;
  font-weight: 200;
}
@font-face {
  src: url("/public/fonds/Urbanist-Italic.ttf");
  font-family: "Urbanist";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  src: url("/public/fonds/Urbanist-Light.ttf");
  font-family: "Urbanist";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  src: url("/public/fonds/Urbanist-LightItalic.ttf");
  font-family: "Urbanist";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  src: url("/public/fonds/Urbanist-Medium.ttf");
  font-family: "Urbanist";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  src: url("/public/fonds/Urbanist-MediumItalic.ttf");
  font-family: "Urbanist";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  src: url("/public/fonds/Urbanist-Regular.ttf");
  font-family: "Urbanist";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  src: url("/public/fonds/Urbanist-SemiBold.ttf");
  font-family: "Urbanist";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  src: url("/public/fonds/Urbanist-SemiBoldItalic.ttf");
  font-family: "Urbanist";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
}
@font-face {
  src: url("/public/fonds/Urbanist-Thin.ttf");
  font-family: "Urbanist";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
}
@font-face {
  src: url("/public/fonds/Urbanist-ThinItalic.ttf");
  font-family: "Urbanist";
  font-style: italic;
  font-display: swap;
  font-weight: 100;
}

* {
  font-family: "Urbanist";
}
